<header>
  <img class="logo pull-left" src="/images/gLogo.svg" alt="Galvanize Reads logo" />
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</header>
<main>
  {{#each books}}
  <article class="book">
    <img src="{{cover_image}}" alt="cover image" />
    <h2>{{title}}</h2>
    <h3>{{name}}</h3>
    <p>{{genre}}</panel>
    <p>{{description}}</p>
  </article>
  {{/each}}
</main>
<footer></footer>
